<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>post form</title>
</head>
<body>
    <h1>make a post!</h1>
    <h2 th:inline="text">posting as: [[${user.displayName}]]</h2>
    <h2 th:inline="text">[[${user.errorMessage}]]</h2>
    <h2>post fields:</h2>
    <form action="#" th:action="@{/post-entry}" th:object="${post}" method="post">
        Title <textarea name="title-text" rows="10" cols="40" th:field="*{title}"></textarea> <br />
        Body <textarea name="post-text" rows="10" cols="40" th:field="*{text}"></textarea> <br />
        <input type="submit" value="press me"/>
    </form>
</body>
</html>